header {
  height: 15%;
  display: flex;
  flex-direction: row;
  nav {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: end;
    margin-right: 8%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    .home{
      width: auto;
      margin-right: 4%;
    }
    a {
      margin-top: auto;
      margin-bottom: auto;
      color: black;
      font-weight: bold;
      margin-left: 0%;
    }
    .logo {
      width: 2%;
      margin-right: 3.5%;
    }
  }

  a {
    margin-left: 7%;
    width: 10%;
    img {
      margin-left: 5%;
      margin-top: 30%;
      margin-bottom: 30%;
    }
  }
  .sous {
    display: none;
    background-color: white;
  }

  .compte:hover {
    .sous {
      right: 10%;
      width: 10%;
      position: absolute;
      //box-shadow: 1px 1px 4px 1px black;
      border: solid 1px;
      display: block;

      li {
        padding: 10%;
      }
      a:hover {
        padding-left: 1%;
        padding-right: 1%;
      }
      li:hover {
        background-color: RGBa(200, 200, 200, 0.1);
      }

      a {
        font-weight: normal;
        font-size: 14px;
      }
    }
  }
  a:hover {
    color: #95588f;
    text-decoration: none;
  }
}

.bandeau {
  height: 100px;
  width: 100%;
  background-image: url("../asset/img/bandeau.png"),
    linear-gradient(
      90deg,
      rgba(244, 232, 193, 1) 22%,
      rgba(154, 156, 99, 1) 100%
    );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.catSous:hover {
  ul {
    right: 20%;
    width: 10%;
    position: absolute;
    //box-shadow: 1px 1px 4px 1px black;
    border: solid 1px;
    display: block;

    li {
      padding: 10%;
    }
    a:hover {
      padding-left: 1%;
      padding-right: 1%;
    }
    li:hover {
      background-color: RGBa(200, 200, 200, 0.1);
    }

    a {
      font-weight: normal;
      font-size: 14px;
    }
  }
}

.catSous {
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  ul {
    margin-top: 2.5%;
    display: none;
    background-color: white;
  }
}
